@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c1c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
.banner-img {
  height: auto;
  width: 500px;
}
input {
  outline: none;
  border: none;
}
input:focus {
  outline: none;
  border: none;
}
.input {
  border-radius: 15px 0 0 15px;
}
.btn {
  border-radius: 0 15px 15px 0;
}
.loader {
  height: calc(100dvh - 200px);
}

.opacity-layer {
  mask-image: linear-gradient(
      to right,
      transparent 0,
      #050505 30%,
      #050505 70%,
      transparent
    ),
    linear-gradient(
      to bottom,
      transparent 0,
      #050505 30%,
      #050505 70%,
      transparent
    );
  mask-composite: intersect; /* Combines the masks (for non-WebKit browsers) */
  mask-size: 100% 100%, 100% 100%; /* Set size for both masks */
  mask-repeat: no-repeat, no-repeat; /* Avoid repeating */
  -webkit-mask-image: linear-gradient(
      to right,
      transparent 0,
      #050505 30%,
      #050505 70%,
      transparent
    ),
    linear-gradient(
      to bottom,
      transparent 0,
      #050505 30%,
      #050505 70%,
      transparent
    );
  -webkit-mask-size: 100% 100%, 100% 100%;
  -webkit-mask-repeat: no-repeat, no-repeat;
}
.synopsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-pagination {
  gap: 7px;
}
.swiper-pagination-bullet {
  opacity: 1;
  background-color: #ccc;
  height: 10px;
  width: 10px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffc107;
  margin: 0;
}
.item {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 4px;
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Number of lines to display */
  line-clamp: 2;
  text-overflow: ellipsis;
}
.swiper-button-prev,
.swiper-button-next {
  color: #ccc;
}

@media screen and (max-width: 1299px) {
  .synopsis {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
@media screen and (max-width: 768px) {
  .synopsis {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .number {
    bottom: auto;
    top: 0;
    right: auto;
    width: 40px;
    left: 0;
    height: 30px;
    background: #fff;
    z-index: 9;
  }
}
