@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #050505;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
* {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
}
input:focus {
  outline: none;
  border: none;
}
.input {
  border-radius: 15px 0 0 15px;
}
.btn {
  border-radius: 0 15px 15px 0;
}
.loader {
  height: calc(100dvh - 200px);
}
