@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffdd95;
  --background: #242428;
  --lightbg: #2f2f33;
  --card: #2f2f33;
  --btnbg: #3a3a3e;
  --yellow: #f9ed69;
  --purple: #b1b2ff;
  --pink: #f2bed1;
}
